<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614456680390-9b66plrm718h7g4a3v67qt9ts9vitm61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614456680390-9b66plrm718h7g4a3v67qt9ts9vitm61</string>
	<key>API_KEY</key>
	<string>AIzaSyAL-7cD2fv09rPWRFun2SkrO7vgrHp5KCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>614456680390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.icloudfirestore</string>
	<key>PROJECT_ID</key>
	<string>cloudfirestore-1b9a7</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudfirestore-1b9a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614456680390:ios:88a9840b50a43933851cc7</string>
	<key>DATABASE_URL</key>
	<string>https://cloudfirestore-1b9a7.firebaseio.com</string>
</dict>
</plist>